.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.list-none {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
}

body {
  font-family: Roboto, sans-serif;
  color: #757575;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.section-title {
  margin-top: 0;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: #2196f3;
  text-decoration: none;
}

.logo--black {
  color: #000000;
}

.logo--white {
  color: #ffffff;
}

.logo-header {
  margin-right: 95px;
  display: inline-block;
}

.logo-footer {
  margin-bottom: 20px;
}

.menu-button {
  background-color: transparent;
  border: none;
  z-index: 3;
  fill: #212121;
}

@media screen and (max-width: 768px) {
  .menu-button {
    display: inline-block;
  }
}

@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}

.menu-button:hover, .menu-button:focus {
  fill: #2196f3;
}

.menu-button .icon-cross {
  display: none;
}

.menu-button.is-open .icon-cross {
  display: block;
}

.menu-button.is-open .icon-menu {
  display: none;
}

.menu-container {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  padding: 48px 40px;
  z-index: 2;
  background: #fff;
}

.menu-container.is-open {
  display: block;
}

.mobmenu-thumb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (min-width: 480px) {
  .mobmenu-thumb {
    width: 450px;
    margin-right: auto;
    margin-left: auto;
  }
}

.mob-nav :not(:last-child) {
  margin-bottom: 32px;
}

.mob-nav__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1, 175;
  letter-spacing: 0.02em;
  color: #212121;
}

.mob-nav__link.mob-current {
  color: #2196f3;
}

.mob-contacts__item:not(:last-child) {
  margin-bottom: 32px;
}

.mob-contacts__tel {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.176;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.mob-contacts__mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.166;
  letter-spacing: 0.02em;
  color: #757575;
}

.mob-socials {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 64px;
}

@media screen and (min-width: 480px) {
  .mob-socials {
    width: 356px;
  }
}

.mob-socials__item:not(:last-child) {
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.mob-socials__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196f3;
}

@media screen and (max-width: 768px) {
  .header-position {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 768px) {
  .header-position {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (max-width: 768px) {
  .navigation {
    display: inline-block;
  }
}

.header-section {
  background-color: #ffffff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

@media screen and (min-width: 768px) {
  .navigation,
  .site-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 1200px) {
  .site-nav,
  .contacts,
  .navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (max-width: 768px) {
  .site-nav,
  .contacts {
    display: none;
  }
}

.site-nav__item:not(:last-child) {
  margin-right: 50px;
}

.site-nav__link {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
  text-decoration: none;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav__link:hover, .site-nav__link:focus {
  color: #2196f3;
}

.current-page::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background: #2196f3;
  border-radius: 2px;
}

.contacts {
  margin-left: auto;
}

@media screen and (max-width: 1200px) {
  .contacts {
    margin-top: auto;
    margin-bottom: auto;
  }
}

@media screen and (max-width: 1200px) {
  .contact:first-child {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .contact:last-child {
    margin-left: 50px;
  }
}

.contact__info {
  font-weight: 500;
  letter-spacing: 0.02em;
  color: #757575;
  text-decoration: none;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact__info:hover, .contact__info:focus {
  color: #2196f3;
}

@media screen and (max-width: 1200px) {
  .contact__info {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 12px;
    line-height: 1.16;
  }
}

@media screen and (min-width: 1200px) {
  .contact__info {
    padding-top: 32px;
    padding-bottom: 32px;
    font-size: 14px;
    line-height: 1.14;
  }
}

.contact__icon {
  display: inline-block;
  padding: 0;
  margin: 0 10px 0 0;
  fill: currentColor;
}

.contact__icon:hover, .contact__icon:focus {
  fill: currentColor;
}

.hero {
  padding-top: 118px;
  padding-bottom: 118px;
  margin-right: auto;
  margin-left: auto;
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/bg-hero.jpg);
  background-image: linear-gradient(to top, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bg-hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .hero {
    height: 400px;
    max-width: 480px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .hero {
    height: 400px;
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
    height: 600px;
    max-width: 1600px;
  }
}

.hero__title {
  margin: 0;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero__button {
  display: block;
  margin-right: auto;
  margin-left: auto;
  min-width: 200px;
  min-height: 50px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: #ffffff;
  background: #2196f3;
  cursor: pointer;
  border: none;
  -webkit-transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero__button:hover, .hero__button:focus {
  background: #188ce8;
}

.features-section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .features-section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

@media screen and (min-width: 768px) {
  .features {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .features {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .features {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.features__item {
  max-width: 100%;
}

@media screen and (max-width: 768px) {
  .features__item {
    width: 450px;
  }
  .features__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .features__item {
    width: 354px;
  }
  .features__item:nth-child(2n + 1) {
    margin-right: 30px;
  }
  .features__item:nth-child(-n + 2) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .features__item {
    width: 270px;
  }
  .features__item:not(:last-child) {
    margin-right: 30px;
  }
}

.features__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
}

@media screen and (max-width: 1200px) {
  .features__icon {
    width: 100%;
  }
}

@media screen and (min-width: 1200px) {
  .features__icon {
    width: 270px;
  }
}

.features__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}

@media screen and (max-width: 767px) {
  .features__title {
    text-align: center;
  }
}

.features__text {
  margin-top: 10px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

@media screen and (max-width: 1199px) {
  .work-directions-section {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .work-directions-section {
    padding-bottom: 94px;
  }
}

.work-directions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.work-directions__item:not(:last-child) {
  margin-right: 30px;
}

.work-directions__box {
  position: relative;
}

.work-directions__img {
  display: block;
}

.work-directions__text {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  padding-top: 27px;
  padding-bottom: 27px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
}

.team-section {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #f5f4fa;
}

@media screen and (min-width: 1200px) {
  .team-section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

@media screen and (min-width: 768px) {
  .team-members {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .team-members {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

.team-member {
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background: #ffffff;
  width: 100%;
  height: auto;
}

@media screen and (min-width: 480px) and (max-width: 768px) {
  .team-member {
    width: 450px;
    min-height: 622px;
  }
  .team-member:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .team-member {
    width: 354px;
    min-height: 536px;
  }
  .team-member:nth-child(2n + 1) {
    margin-right: 30px;
  }
  .team-member:nth-child(-n + 2) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .team-member {
    width: 270px;
    min-height: 368px;
  }
  .team-member:not(:last-child) {
    margin-right: 30px;
  }
}

.team-member__img {
  display: block;
}

.team-member__name-position {
  padding-top: 30px;
  padding-bottom: 16px;
}

.team-member__name {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.team-member__position {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
}

.team-socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
}

.team-socials__item:not(:last-child) {
  margin-right: 10px;
}

.team-socials__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  color: #afb1b8;
  border-radius: 50%;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-socials__link:hover, .team-socials__link:focus {
  border-radius: 50%;
  background-color: #2196f3;
  color: #ffffff;
}

.team-socials__icon {
  fill: currentColor;
}

.clients-section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .clients-section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.clients {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 1200px) {
  .clients {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .clients {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .clients__item:not(:last-child) {
    margin-right: 30px;
  }
}

@media screen and (max-width: 480px) {
  .clients__item {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 480px) and (max-width: 768px) {
  .clients__item:nth-child(2n + 1) {
    margin-right: 30px;
  }
  .clients__item:not(:nth-last-child(-n + 2)) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .clients__item:not(:nth-child(3n + 1)) {
    margin-left: 30px;
  }
  .clients__item:nth-child(-n + 3) {
    margin-bottom: 30px;
  }
}

.clients__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: #afb1b8;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link:hover, .clients__link:focus {
  color: #2196f3;
  border: 1px solid #2196f3;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .clients__link {
    width: 210px;
    height: 92px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .clients__link {
    width: 226px;
    height: 92px;
  }
}

@media screen and (min-width: 1200px) {
  .clients__link {
    width: 170px;
    height: 92px;
  }
}

.clients__icon {
  fill: currentColor;
}

.footer-section {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (max-width: 1200px) {
  .footer {
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .thumb-adress-social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .thumb-adress-social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

@media screen and (min-width: 1200px) {
  .footer__adress {
    margin-right: 70px;
  }
}

.footer-info {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.footer-info__contact {
  display: inline-block;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  margin-top: 10px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-info__contact:hover, .footer-info__contact:focus {
  color: #2196f3;
}

@media screen and (max-width: 768px) {
  .footer__join-us {
    margin-bottom: 60px;
    margin-top: 60px;
  }
}

.footer-title {
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.footer-socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-socials__item:not(:last-child) {
  margin-right: 10px;
}

.footer-socials__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-socials__link:hover, .footer-socials__link:focus {
  background-color: #2196f3;
  color: #ffffff;
}

.footer-socials__icon {
  fill: currentColor;
}

/* footer subscribe form */
@media screen and (min-width: 1200px) {
  .footer-form {
    margin-left: 93px;
  }
}

.footer-form__subscribe {
  width: 100%;
  height: 50px;
  padding-left: 16px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #ffffff4d;
  border-radius: 4px;
  background-color: transparent;
  color: #fff;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-form__subscribe:focus-within {
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid #2196f3;
  outline: none;
}

.footer-form__subscribe::-webkit-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-form__subscribe:-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-form__subscribe::-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-form__subscribe::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

@media screen and (max-width: 1200px) {
  .footer-form__subscribe {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 480px) and (max-width: 1200px) {
  .footer-form__subscribe {
    width: 450px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 1200px) {
  .footer-form__subscribe {
    width: 358px;
  }
}

.button-subscribe {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 200px;
  min-height: 50px;
  margin-left: 12px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #ffffff;
  background: #2196f3;
  border-color: #2196f3;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 4px 0px #00000026;
          box-shadow: 0px 4px 4px 0px #00000026;
  color: #fff;
  -webkit-transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-subscribe:hover, .button-subscribe:focus {
  background: #188ce8;
}

.button-subscribe__icon {
  margin-left: 10px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 3;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(0.5);
          transform: translate(-50%, -50%) scale(0.5);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 528px;
  height: 581px;
  background-color: #fff;
  border-radius: 4px;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 480px) {
  .modal {
    width: 100%;
    height: auto;
  }
}

@media screen and (min-width: 480px) and (max-width: 1200px) {
  .modal {
    width: 450px;
    height: 609px;
  }
}

.close-modal {
  position: absolute;
  right: 8px;
  top: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #0000001a;
  background-color: #fff;
  cursor: pointer;
  fill: #000;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-modal:hover, .close-modal:focus {
  fill: #2196f3;
}

/* END MODAL WINDOW */
/* FORM MODAL WINDOW  */
.modal-form {
  margin-top: 40px;
  margin-right: 40px;
  margin-left: 40px;
  margin-bottom: 40px;
}

.form-title {
  margin-bottom: 12px;
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-primary-title);
}

@media screen and (max-width: 1200px) {
  .form-title {
    font-size: 20px;
    line-height: 1.5;
  }
}

@media screen and (min-width: 1200px) {
  .form-title {
    font-size: 20px;
    line-height: 1.15;
  }
}

.form-field:not(first-child) {
  margin-top: 10px;
}

.form-field__label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.166;
  letter-spacing: 0.01em;
  color: #757575;
}

.form-field__input {
  padding-left: 42px;
  width: 100%;
  min-height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  color: #757575;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field:focus-within .form-field__input {
  outline: none;
  border: 1px solid #2196f3;
}

.form-field__icon-wraper {
  position: relative;
}

.form-field__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  fill: #212121;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field:focus-within .form-field__icon {
  fill: #2196f3;
}

.form-field__comment {
  height: 120px;
  padding: 12px 16px;
  resize: none;
}

.form-field__comment::-webkit-input-placeholder {
  font-size: 12px;
  line-height: 1.166;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-field__comment:-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.166;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-field__comment::-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.166;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-field__comment::placeholder {
  font-size: 12px;
  line-height: 1.166;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.checkbox-field {
  margin-top: 20px;
  margin-bottom: 30px;
}

.label-checkbox::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 1px solid #212121;
  border-radius: 1px;
  background-color: transparent;
  margin-right: 8px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.label-checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.03em;
  color: #757575;
  text-align: center;
}

.checkbox:checked + .label-checkbox::before {
  background-image: url(../images/icon-checkbox.svg);
  background-size: contain;
  background-origin: border-box;
  border-color: #2196f3;
  background-color: #2196f3;
}

.policy-link {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #2196f3;
  display: inline;
}

@media screen and (max-width: 1200px) {
  .label-checkbox,
  .policy-link {
    font-size: 12px;
  }
}

@media screen and (min-width: 1200px) {
  .label-checkbox,
  .policy-link {
    font-size: 14px;
    line-height: 1.71;
  }
}

.modal-submit-form {
  display: block;
  margin-left: auto;
  margin-right: auto;
  min-height: 50px;
  min-width: 200px;
  background: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  cursor: pointer;
  -webkit-transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-submit-form:hover, .modal-submit-form:focus {
  background: #188ce8;
}

.portfolio-section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .portfolio-section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.filter {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.filter__item:not(last-child) {
  margin-left: 9px;
}

@media screen and (max-width: 768px) {
  .filter {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .filter {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .filter {
    margin-bottom: 50px;
  }
}

.filter__button {
  padding-top: 6px;
  padding-bottom: 6px;
  padding-right: 22px;
  padding-left: 22px;
  min-height: 38px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 768px) {
  .filter__button {
    margin-bottom: 10px;
  }
}

.filter__button:hover, .filter__button:focus {
  color: #ffffff;
  background-color: #2196f3;
  -webkit-text-stroke: 0.3px black;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0px 4px 4px 0px #00000040;
          box-shadow: 0px 4px 4px 0px #00000040;
}

.portfolio {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .portfolio {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.portfolio__item {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  background: #fff;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 480px) and (max-width: 768px) {
  .portfolio__item {
    width: 450px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .portfolio__item {
    width: 354px;
    height: 440px;
  }
  .portfolio__item:nth-child(2n + 1) {
    margin-right: 30px;
  }
  .portfolio__item:not(:nth-last-child(-n + 2)) {
    margin-bottom: 30px;
  }
  .portfolio__item:last-child {
    margin-left: 0;
    margin-right: auto;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio__item {
    width: calc((100%-60px) / 3);
    margin-right: 30px;
    margin-bottom: 30px;
    width: 370px;
    height: 404px;
  }
  .portfolio__item:nth-child(3n) {
    margin-right: 0;
  }
  .portfolio__item:nth-last-child(-n + 3) {
    margin-bottom: 0;
  }
}

.portfolio__item:hover, .portfolio__item:focus {
  -webkit-box-shadow: 0px 4px 4px 0px #00000040;
          box-shadow: 0px 4px 4px 0px #00000040;
}

.portfolio__link {
  text-decoration: none;
}

.portfolio__img {
  display: block;
}

.portfolio__name {
  padding-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.portfolio__type {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: #757575;
}

.portfolio__type-and-name {
  padding-top: 20px;
  padding-left: 24px;
  padding-bottom: 20px;
  padding-right: 24px;
  border: 1px solid #eeeeee;
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .portfolio__type-and-name {
    height: 146px;
  }
}

/* OVERLAY */
.card-thumb {
  position: relative;
  overflow: hidden;
}

.card-thumb:before {
  content: "";
  background-color: rgba(33, 150, 243, 0.9);
}

.portfolio__overlay-text {
  top: 0;
  left: 0;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
  padding: 63px 24px;
}

.card-thumb:before,
.portfolio__overlay-text {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__link:hover .card-thumb:before,
.portfolio__link:focus .card-thumb:before, .portfolio__link:hover
.portfolio__overlay-text,
.portfolio__link:focus
.portfolio__overlay-text {
  opacity: 1;
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}
/*# sourceMappingURL=main.css.map */