.footer-section {
  background-color: $bg-dark;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer {
  @media screen and (max-width: 1200px) {
    text-align: center;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: baseline;
  }
}

.thumb-adress-social {
  @media screen and (min-width: 768px) and (max-width: 1200px) {
    display: flex;
    align-items: baseline;
    justify-content: space-around;
    margin-bottom: 60px;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: baseline;
  }
}
.footer__adress {
  @media screen and (min-width: 1200px) {
    margin-right: 70px;
  }
}

.footer-info {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: $color-light;
}

.footer-info__contact {
  display: inline-block;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  margin-top: 10px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $color-accent;
  }
}

.footer__join-us {
  @media screen and (max-width:768px) {
    margin-bottom: 60px;
    margin-top: 60px;
  }
}
.footer-title {
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.footer-socials {
  display: flex;
  justify-content: center;
  &__item:not(:last-child) {
    margin-right: 10px;
  }
}

.footer-socials__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: $color-accent;
    color: $color-light;
  }
}

.footer-socials__icon {
  fill: currentColor;
}

/* footer subscribe form */
.footer-form {
  @media screen and (min-width: 1200px) {
    margin-left: 93px;
  }
}

.footer-form__subscribe {
  width: 100%;
  height: 50px;
  padding-left: 16px;

  box-sizing: border-box;
  border: 1px solid #ffffff4d;
  border-radius: 4px;
  background-color: transparent;
  color: #fff;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus-within {
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid $color-accent;
    outline: none;
  }

  &::placeholder {
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  }

  @media screen and (max-width: 1200px) {
    margin-bottom: 20px;
  }

  @media screen and (min-width:480px) and (max-width: 1200px) {
    width: 450px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  @media screen and (min-width: 1200px) {
    width: 358px;
  }
}

.button-subscribe {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-width: 200px;
  min-height: 50px;
  margin-left: 12px;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;

  color: $color-light;
  background: $color-accent;
  border-color: $color-accent;
  cursor: pointer;
  border: none;

  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px #00000026;
  color: #fff;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background: #188ce8;
  }
}

.button-subscribe__icon {
  margin-left: 10px;
}
