.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: $color-accent;
  text-decoration: none;

  &--black {
    color: #000000;
  }

  &--white {
    color: $color-light;
  }

  &-header {
    margin-right: 95px;
    display: inline-block;
  }

  &-footer {
    margin-bottom: 20px;
  }
}

.menu-button {
  background-color: transparent;
  border: none;
  z-index: 3;
  fill: #212121;
  @media screen and (max-width: 768px) {
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  @media screen and (min-width: 768px) {
    display: none;
  }

  &:hover,
  &:focus {
    fill: $color-accent;
  }
}

.menu-button .icon-cross {
  display: none;
}
.menu-button.is-open .icon-cross {
  display: block;
}
.menu-button.is-open .icon-menu {
  display: none;
}

.menu-container {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  padding: 48px 40px;
  z-index: 2;

  background: #fff;

  &.is-open {
    display: block;
  }
}
.mobmenu-thumb {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  @media screen and (min-width: 480px) {
    width: 450px;
    margin-right: auto;
    margin-left: auto;
  }
}

// MOBILE MENU
.mob-nav {
  :not(:last-child) {
    margin-bottom: 32px;
  }
}
.mob-nav__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1, 175;
  letter-spacing: 0.02em;
  color: #212121;

  &.mob-current {
    color: $color-accent;
  }
}

.mob-contacts__item {
  &:not(:last-child) {
    margin-bottom: 32px;
  }
}
.mob-contacts__tel {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.176;
  letter-spacing: 0.02em;
  color: $color-accent;
}

.mob-contacts__mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.166;
  letter-spacing: 0.02em;
  color: $color-primary-text;
}

.mob-socials {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 64px;
  @media screen and (min-width: 480px) {
    width: 356px;
  }
}
.mob-socials__item {
  &:not(:last-child) {
    padding-right: 10px;
    border-right: 1px solid rgba(33, 33, 33, 0.2);
  }
}
.mob-socials__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: $color-accent;
}

// END MOB MENU

.header-position {
  @media screen and (max-width: 768px) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  @media screen and (min-width: 768px) {
    display: flex;
  }
}

.navigation {
  @media screen and (max-width: 768px) {
    display: inline-block;
  }
}

.header-section {
  background-color: $color-light;
  border-bottom: 1px solid #ececec;
}

.navigation,
.site-nav {
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
  }
}

.site-nav,
.contacts,
.navigation {
  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: center;
  }
}
.site-nav,
.contacts {
  @media screen and (max-width: 768px) {
    display: none;
  }
}
.site-nav__item:not(:last-child) {
  margin-right: 50px;
}

.site-nav__link {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: $color-primary-title;
  text-decoration: none;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $color-accent;
  }
}

.current-page::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background: $color-accent;
  border-radius: 2px;
}

.contacts {
  margin-left: auto;
  @media screen and (max-width: 1200px) {
    margin-top: auto;
    margin-bottom: auto;
  }
}

.contact {
  @media screen and (max-width: 1200px) {
    &:first-child {
      margin-bottom: 10px;
    }
  }
}
.contact:last-child {
  @media screen and (min-width: 1200px) {
    margin-left: 50px;
  }
}

.contact__info {
  font-weight: 500;

  letter-spacing: 0.02em;
  color: $color-primary-text;
  text-decoration: none;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $color-accent;
  }
  @media screen and (max-width: 1200px) {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 12px;
    line-height: 1.16;
  }
  @media screen and (min-width: 1200px) {
    padding-top: 32px;
    padding-bottom: 32px;
    font-size: 14px;
    line-height: 1.14;
  }
}

.contact__icon {
  display: inline-block;
  padding: 0;
  margin: 0 10px 0 0;
  fill: currentColor;

  &:hover,
  &:focus {
    fill: currentColor;
  }
}
