.hero {
  padding-top: 118px;
  padding-bottom: 118px;
  margin-right: auto;
  margin-left: auto;
  background-color: rgba(47, 48, 58, 0.4);
  background-image: url(../images/bg-hero.jpg);
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  background-size: cover;

  @media screen and (min-width: 480px) and (max-width: 767px) {
    height: 400px;
    max-width: 480px;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    height: 400px;
    width: 768px;
  }
  @media screen and (min-width: 1200px) {
    padding-top: 200px;
    padding-bottom: 200px;
    height: 600px;
    max-width: 1600px;
  }

  @media screen and (max-width: 767px) {
    background-image: url(../../images/mobile/bg-hero-mob.jpg);
    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url(../../images/mobile/bg-hero-mob-x2.jpg);
    }
  }
  @media screen and (max-width: 1199px) {
    background-image: url(../../images/tablet/bg-hero-tab.jpg);
    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url(../../images/tablet/bg-hero-tab-x2.jpg);
    }
  }
  @media screen and (min-width: 1200px) {
    background-image: url(../../images/bg-hero.jpg);
    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url(../../images/bg-hero-x2.jpg);
    }
  }
}

.hero__title {
  margin: 0;
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: $color-light;

  @media screen and (min-width: 1200px) {
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero__button {
  display: block;
  margin-right: auto;
  margin-left: auto;
  min-width: 200px;
  min-height: 50px;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  border-radius: 4px;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: $color-light;
  background: $color-accent;
  cursor: pointer;
  border: none;

  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background: #188ce8;
  }
}
